
<body data-ng-controller="MainController" data-ng-cloak>
	<div id='search'>
		<form data-ng-submit="search(query)">
			<input type='text' id='query' data-ng-model='query' placeholder="Search...">				
		</form>
	</div>
	<div id='landing' data-ng-show="!videoDetails && !resultsAvailable">
			<h1>Search for your favourite music</h1>
	</div>
		<div class="row" id='main'>
		  <div class="col-md-7" id="results-column">
				<div id="tv" data-ng-show="videoDetails">	
					<div id='videoDetails' >
						<div id="player" class='detail-image'></div>
	          <p class="detail-title">{{ '{{ detail.title }}' }}</p>
	          <p class="detail-author">{{ '{{ detail.author }}' }}</p>
	          <p class="detail-description">{{ '{{ detail.description }}' }}</p>
	          <p class="detail-uploaded"><span>Uploaded:</span> {{ '{{ detail.publishedAt }}' }}</p>
					</div>
				</div>
				<div id="sort" data-ng-show="resultsAvailable">
					<h2>{{ '{{searchType}}' }}</h2>
					<div id="sort-filters">
						<p>Sort</p>
						<a href='' data-ng-click="orderFunction('title', filterReverse)">Title</a>
						<a href='' data-ng-click="orderFunction('viewCount', filterReverse)">Views</a>
						<a href='' data-ng-click="orderFunction('likeCount', filterReverse)">Likes</a>
						<a href='' data-ng-click="orderFunction('publishedAt', filterReverse)">Uploaded</a>
					</div>
				</div>
				<div id="results_bar" >	
					<span id="googleSignIn">
					    <span id="signInButton">
					    </span>
					</span>
					
			    <div id="results">
		        <div class="video" data-ng-repeat="video in results| orderBy:videoOrderBy:filterReverse">
		          <img class="video-image" data-ng-src="{{ '{{ video.thumbnail }}' }}">
		          <p class="video-title">{{ '{{ video.title }}' }}</p>
		          <p class="video-author">{{ '{{ video.author }}' }}</p>
		          <p class="video-views"><span>Views:</span> {{ '{{ video.viewCount }}' }}</p>
		          <p class="video-likes"><span>Likes:</span> {{ '{{ video.likeCount }}' }}</p>
		          <p class="video-uploaded"><span>Uploaded:</span> {{ '{{ video.publishedAt }}' }}</p>
							<div class="button-controllers">
								<p>
									<span class='playButton' data-ng-click="showVideoDetails(video,false)">Play</span>
									<span class='addButton' data-ng-click="add(video)" data-ng-show="!video.inLibrary" >Add</span>
									<span class='resultRemoveButton' data-ng-click="remove(video)" data-ng-show="video.inLibrary">Remove</span>
								</p>
						</div>
						</div>
			    </div>
					
		    </div>
				
		</div>
	  <div class="col-md-5" id='library-column'>
		  <div id='library' data-ng-show="resultsAvailable">
				<h2>Library</h2>
				<h4 data-ng-show="!libraryStock">Your library is empty. Add some videos!</h4>
		  	<div class='library-videos' data-ng-repeat="video in library">
					<p class='removeButton' data-ng-click="remove(video)"  >&#10005</p>
					<p class='libraryVideo' data-ng-click="showVideoDetails(video,true)">{{ '{{ video.title }}' }}</p>
																			
				</div>
		  </div>
		</div>
	<script src="{{ url_for('static', filename='js/app.js')  }}"></script>
	<script src="{{ url_for('static', filename='js/controller.js')  }}"></script>
	<script src="{{ url_for('static', filename='js/factory.js')  }}"></script>
</body>
	
	