@import "bootstrap/less/bootstrap.less";

/* Large desktops and laptops */


/*
.container-fluid{
	padding-left:0px;
	padding-right:0px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row{
	margin-left:0px;
	margin-right:0px;
}

*/

html{
  overflow-y: scroll;
	background-color:@gray-lighter;
}

.main{
	background-color:@gray-lighter;
	;
}

h2{
    font-size: 2em;
}       


html {
}


@blue:#47b0e2;

#main{
}

.library-landing{
	padding-top:60px;
	padding-bottom:140px;
	color:@gray;
	text-align:center;
	
}

#landing{
  position: absolute;
  top: 134px; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
	background:darken(@blue, 20%);
	text-align:center;
	h1{
		margin-top:20%;
		font-size:56px;
		color:white;
	}
}

#search{
	padding:40px;
	background:@blue;
	

	#query{
		width:80%;
		margin-left:10%;
		border-radius:20px;
		border-color:gray;
		height:42px;
		text-align:center;
		float:center;
		border-style:none;
		color:@gray;
		
		
	}
	#submit{
		height:40px;
		float:left;
		
	}
}


#sort{
	background: #f5f5f5;
	padding:30px;
	margin-bottom:25px;
	h2{
		display:inline;
		margin-left:130px;
	}	
	#sort-filters{
		position:relative;
		top:10px;
		right:10px;
		float:right;

		p{
			display:inline;
			margin-right:20px;
		}
		a{
			margin-right:20px;
		}
	}
}


#results-column{
	float:left;
}

.border-show{
	border-right:5px solid @gray-lighter;
}

.detail-column{
	//padding-right:0px;
	
}

#details{
	border:4px solid @gray-lighter;
	padding: 20px;
	padding: 20px;
	background-color:white;
	border:2px solid darken(@gray-lighter, 4%);
	border-radius:6px;
	margin-top:20px;
	
}

#library-results-column{
	background-color:white;
	padding:20px;
	border:2px solid darken(@gray-lighter, 4%);
	margin-top:20px;
	margin-bottom:20px;

}

#tabs{
	text-align:center;
	border-bottom:1px solid @gray-lighter;
	
}

.library-tab{
	color:@gray;
	border-bottom:1px solid @gray-lighter;
	padding-bottom:20px;
}

.results-tab{
	padding-bottom:20px;

}


.glyphicon{
	float:right;
	font-size:36px;
	top:-50px;
	height:0;
	margin-right:20px;
	cursor: pointer;
	cursor: hand;
	
}

.glyphicon-plus-sign{
	color:@brand-success;
}

.glyphicon-remove-sign{
	color:@brand-danger;
}

input:-webkit-autofill{
	background-color:white;
}

.video-tab:active{
	background-color:@gray-lighter;	
}

.video{
	padding:20px;
	cursor: pointer;
	cursor: hand;
	
	
}
	.video-image{
		float:left;
		height:90px;
		width:120px;
		padding-right:20px;
	}
	.video-title{
		font-size:18px;
		
	}
	.video-author{
		color:@blue;
		
		
	}
	.video-description{
		width:70%;
	}
	.video-views{
		display:inline-block;
		margin-right:20px;
		span{font-weight:bold; color:@gray;}
	}

	.video-likes{
		display:inline-block;
		margin-right:20px;
		span{font-weight:bold; color:@gray;}
		
		
	}
	.video-uploaded{
		display:inline-block;
		span{font-weight:bold; color:@gray;}
		
	}

.video-tab{
	border-bottom:solid 1px @gray-lighter;
	
}

.video-tab:nth-child(odd){
}

.video-tab:first-child{
}

.video-tab:last-child{
}


.video-tab:hover{
}


.video:hover{
	
	.addbutton{
	}
	
	.resultRemoveButton{
	}

}

.button-controllers:hover{
}

.button-controllers{
		margin-top:20px;
		text-align:center;
		
			
	.addButton, .resultRemoveButton{
		
	}
	
	.addButton{
		color:@brand-success;
		background-color:white;
		
	}
	.resultRemoveButton{
	}
	.addbutton:active, .addbutton:focus{
		background:white;
		color:darken(@brand-success, 20%);
		outline: 5px auto @brand-success;		
		
	}
	.addbutton:hover, .resultRemoveButton:hover{
	
	}
	
	.resultRemoveButton{
		background:white;
		color:@brand-danger;
		margin-top:0px;
		
	}
	
	.resultRemoveButton:active,
	.resultRemoveButton:focus,
	.resultRemoveButton.active {
	  background-image: none;
	  outline: 0;
	  -webkit-box-shadow: none;
	          box-shadow: none;
	}
	
	.resultRemoveButton:active, .resultRemoveButton:focus{
		background:white;
		color:darken(@brand-danger, 20%);		
		outline: 5px auto @brand-danger;		
	}


}
	


#library-column{
	
}

#library{

	h2{
		margin-left:20px;
		
	}
	h4{
		margin-top:40px;
		margin-left:20px;
		
	}		

	.library-videos{
		border-bottom:solid 1px @gray-lighter;
		width:100%;
		display:block;
		
		p{
			margin:0px;
		}
		

		.libraryVideo{
			margin-right: 80px;
			padding: 20px 20px;
	    overflow-y: hidden;
						
	
		}
		
		.libraryVideo:hover{
			background:@gray-lighter;
			cursor: pointer;
			cursor: hand;
		}

		.removeButton{
			color: #ac0809;
			position:relative;
			float:right;
			top:20px;
			right:26px;
			text-align: center;
	    width: 28px;
	    height: 28px;
			color:@brand-danger;
			font-weight:bold;
	    text-align: center;
	    font-size:14px;
			line-height:0.9;
			vertical-align: middle;
			cursor: pointer;
			cursor: hand;
			
		}
		.removeButton:hover{
				color:darken(@brand-danger,20%);			
		}
		

	}

}

#tv{
	float:center;
	padding-top:0px;
	padding-bottom:20px;
	
	background:@gray-dark;
	color:white;
	
}




#player{
	width:500px;
	height:200px;
}

#videoDetails{
			margin:auto;
	
		.detail-image{
			position:relative;
		}
		.detail-title{
			margin-top:20px;
			font-size:18px;
			color:@blue;
		}
		.detail-author{
			
		}
		.detail-description{
			width:90%;
			font-weight:normal;
		}
		.detail-views{
			margin-right:16px;
			span{color:@blue};
			float:left;
		}
		.detail-likes{
			margin-right:20px;
			span{color:@blue};
			float:left;
		}
		.detail-uploaded{
			span{color:@blue}
			
		}
		
		.addButton, .resultRemoveButton{
			position:absolute;
			float:right;
			top:50px;
			right:50px;
	    width: 28px;
	    height: 28px;
			padding-left:1px;
	    padding-top: 10px;
			border:2px solid;
			border-radius:50%;
			color:@brand-success;
			font-weight:bold;
	    text-align: center;
	    font-size:24px;
			line-height:0;
			vertical-align: middle;
			
		}
		.addbutton{
		}
		.addbutton[disabled]{
		}
		.resultRemoveButton{
			color:@brand-danger;
			
		}
	}
	
	#caption{
		margin-left:15px;
	}
	


	
	@media (min-width: 1200px) {
		.form-group #query{
			font-size:1.8em;
		}

	}


	/* Portrait tablets and small desktops */
	@media (max-width: 991px) {
		
		.container-fluid{
			padding-left:0px;
			padding-right:0px;
		}

		.no-gutter > [class*='col-'] {
		    padding-right:0;
		    padding-left:0;
		}

		.row{
			margin-left:0px;
			margin-right:0px;
		}
		
		#details{
			border:none;
			padding: 0px;
			padding: 0px;
			margin-top:0px;
	
		}

		#library-results-column{
			background-color:white;
			padding:0px;
			border:none;
			margin-top:0px;
			margin-bottom:0px;

		}
		
		.video-tab{
			padding-bottom:10px;
		}
		.video-image{
			position:absolute;
			padding-right:10px;
			padding-left:10px;
		}
		.video-title{
			padding-left:120px;
		
		}
		.video-author{
			padding-left:120px;
		}
		.video-views{
			padding-left:120px;
		}
		
		.video{
			padding:0px;
		}
		
		.glyphicon{
			font-size:32px;
			top:-30px;
			
		}
		
		.form-group #query{
			font-size:1.2em;
		}
		
		#search{
			padding-left:0px;
			padding-right:0px;
			
		}
		
		.detail-views{
			
		}
		
		#tv{
			padding-bottom:10px;
		}
		
		
		.button-controllers{
			margin-top:0px;
			border-bottom:solid 1px darken(@gray-lighter, 20%);
			
			p{
				padding-top:10px;
			}
			
			.resultRemoveButton, .addButton{
				padding-top:5px;
				padding-bottom:5px;
				
			}
			
		}
		
		.video-tab{
			padding-top:20px;
		}

	}