@import "bootstrap/less/bootstrap.less";

#search{
	padding:40px;
	
	#query{
		width:80%;
		border-radius:20px;
		height:40px;
		text-align:center;
		float:left;
		
		
	}
	#submit{
		height:40px;
		float:left;
		
	}
}

#results{
	padding:40px;
	
	.video{
		position:relative;
		padding:10px;
		padding-left:140px;
		
		.video-image{
			float:left;
			left:10px;
			position:absolute;
		}
		.video-title{
			font-size:18px;
		}
		.video-author{
			
		}
		.video-description{
			
		}
		.video-views{
			display:inline-block;
		}

		.video-likes{
			display:inline-block;
		}
		.video-uploaded{
			display:inline-block;
		}
		
		.addButton{
			float:right;
		}
	}
}