@import "bootstrap/less/bootstrap.less";

/* Large desktops and laptops */


/*
.container-fluid{
	padding-left:0px;
	padding-right:0px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row{
	margin-left:0px;
	margin-right:0px;
}

*/

html{
  overflow-y: scroll;
	background-color:@gray-lighter;
}

body{
	background-color:@gray-lighter;
}

.main{
	background-color:@gray-lighter;
	;
}

h2{
    font-size: 2em;
}       


html {
}


@blue:#47b0e2;

#main{
}

.library-landing{
	padding-top:60px;
	padding-bottom:140px;
	padding-left:20px;
	padding-right:20px;
	color:@gray;
	text-align:center;
	
}

#search{
	color:@gray;
	
	padding-top:30px;
	padding-bottom:10px;
	background:@blue;
	border-radius:4px;
	font-size:1.4em;
	form{
		width:80%;
		margin-left:10%;
		
	}

	#query:focus{
		
	}
	#submit{
		height:40px;
		float:left;
		
	}
}

.form-control:focus{
  border: 1px solid #ccc;
	box-shadow:none;
	webkit-box-shadow:none;
}

//remove yellow background from autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.reset-search{
	border-left:white;
	color:@gray;
	
}

.animate-hide {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
  position:relative;
  left: 0;
}

.animate-hide.ng-hide {
  left: -100%;
  opacity:0;
  padding:0 10px;
}

#sort{
	background: #f5f5f5;
	padding:30px;
	margin-bottom:25px;
	h2{
		display:inline;
		margin-left:130px;
	}	
	#sort-filters{
		position:relative;
		top:10px;
		right:10px;
		float:right;

		p{
			display:inline;
			margin-right:20px;
		}
		a{
			margin-right:20px;
		}
	}
}


#results-column{
	float:left;
}

.border-show{
	border-right:5px solid @gray-lighter;
}

.detail-column{
	padding-right:10px;
	
}

#details{
	border:4px solid @gray-lighter;
	padding: 20px;
	padding: 20px;
	background-color:white;
	border:2px solid darken(@gray-lighter, 4%);
	border-radius:6px;
	margin-top:20px;
	
}

#library-results-column{
	padding-left:10px;
	
}

#library-results-wrapper{
	background-color:white;
	padding:20px;
	border:2px solid darken(@gray-lighter, 4%);
	margin-top:20px;
	margin-bottom:20px;
	
}

#tabs{
	text-align:center;
	border-bottom:1px solid @gray-lighter;
	
}

#library-tab{
	color:@gray;
	border-bottom:1px solid @gray-lighter;
	padding-bottom:20px;
}

#results-tab{
	padding-bottom:20px;

}


.glyphicon{
	float:right;
	font-size:36px;
	top:-50px;
	height:0;
	margin-right:20px;
	cursor: pointer;
	cursor: hand;
	
}

.glyphicon-plus-sign{
	color:lighten(@brand-success, 10%);
}

.glyphicon-remove-sign{
	color:#ff6961;
}

input:-webkit-autofill{
	background-color:white;
}

.video-tab:active{
	background-color:@gray-lighter;	
}

.video{
	padding:10 20;
	cursor: pointer;
	cursor: hand;
	
	
}
	.video-image{
		position:absolute;
		float:left;
		height:90px;
		width:160px;
		padding-right:20px;
	}
	
	.video-title{
		font-size:18px;
		padding-left:160px;
		
	}
	.video-author{
		color:@blue;
		padding-left:160px;
	}
	
	.video-description{
		width:70%;
		padding-left:160px;
		
	}
	
	.video-views{
		display:inline-block;
		padding-left:160px;
		margin-right:20px;
		span{font-weight:bold; color:@gray;}
	}

	.video-likes{
		display:inline-block;
		margin-right:20px;
		span{font-weight:bold; color:@gray;}
		
		
	}
	.video-uploaded{
		display:inline-block;
		span{font-weight:bold; color:@gray;}
		
	}

.video-tab{
	border-bottom:solid 1px @gray-lighter;
	
}

.video-tab:nth-child(odd){
}

.video-tab:first-child{
}

.video-tab:last-child{
}


.video-tab:hover{
}


.video:hover{
	
	.addbutton{
	}
	
	.resultRemoveButton{
	}

}

.button-controllers:hover{
}

.button-controllers{
		margin-top:20px;
		text-align:center;
		
			
	.addButton, .resultRemoveButton{
		
	}
	
	.addButton{
		color:@brand-success;
		background-color:white;
		
	}
	.resultRemoveButton{
	}
	.addbutton:active, .addbutton:focus{
		background:white;
		color:darken(@brand-success, 20%);
		outline: 5px auto @brand-success;		
		
	}
	.addbutton:hover, .resultRemoveButton:hover{
	
	}
	
	.resultRemoveButton{
		background:white;
		color:@brand-danger;
		margin-top:0px;
		
	}
	
	.resultRemoveButton:active,
	.resultRemoveButton:focus,
	.resultRemoveButton.active {
	  background-image: none;
	  outline: 0;
	  -webkit-box-shadow: none;
	          box-shadow: none;
	}
	
	.resultRemoveButton:active, .resultRemoveButton:focus{
		background:white;
		color:darken(@brand-danger, 20%);		
		outline: 5px auto @brand-danger;		
	}


}
	


#library-column{
	
}

#library{

	h2{
		margin-left:20px;
		
	}
	h4{
		margin-top:40px;
		margin-left:20px;
		
	}		

	.library-videos{
		border-bottom:solid 1px @gray-lighter;
		width:100%;
		display:block;
		
		p{
			margin:0px;
		}
		

		.libraryVideo{
			margin-right: 80px;
			padding: 20px 20px;
	    overflow-y: hidden;
						
	
		}
		
		.libraryVideo:hover{
			background:@gray-lighter;
			cursor: pointer;
			cursor: hand;
		}

		.removeButton{
			color: #ac0809;
			position:relative;
			float:right;
			top:20px;
			right:26px;
			text-align: center;
	    width: 28px;
	    height: 28px;
			color:@brand-danger;
			font-weight:bold;
	    text-align: center;
	    font-size:14px;
			line-height:0.9;
			vertical-align: middle;
			cursor: pointer;
			cursor: hand;
			
		}
		.removeButton:hover{
				color:darken(@brand-danger,20%);			
		}
		

	}

}


#tv{
	float:center;
	padding-top:0px;
	padding-bottom:20px;
	
	background:@gray-dark;
	color:white;
	
}



#player{
	width:500px;
	height:200px;
}

#videoDetails{
			margin:auto;
	
		.detail-image{
			position:relative;
		}
		.detail-title{
			margin-top:20px;
			font-size:18px;
			color:@blue;
		}
		.detail-author{
			float:left;
			margin-right:16px;
			
		}
		.detail-description{
			width:90%;
			font-weight:normal;
		}
		.detail-views{
			margin-right:16px;
			span{color:@blue};
			float:left;
		}
		.detail-likes{
			margin-right:20px;
			span{color:@blue};
		}
		.detail-uploaded{
			span{color:@blue}
			
		}
		
		.addButton, .resultRemoveButton{
			position:absolute;
			float:right;
			top:50px;
			right:50px;
	    width: 28px;
	    height: 28px;
			padding-left:1px;
	    padding-top: 10px;
			border:2px solid;
			border-radius:50%;
			color:@brand-success;
			font-weight:bold;
	    text-align: center;
	    font-size:24px;
			line-height:0;
			vertical-align: middle;
			
		}
		.addbutton{
		}
		.addbutton[disabled]{
		}
		.resultRemoveButton{
			color:@brand-danger;
			
		}
	}
	
	#caption{
		margin-left:15px;
	}
	

	.library-button{
		color:lighten(@gray, 30%);
		font-size:30px;
	}


	/* Portrait tablets and small desktops */
	@media (max-width: 991px) {
		
		.container-fluid{
			padding-left:0px;
			padding-right:0px;
		}

		.no-gutter > [class*='col-'] {
		    padding-right:0;
		    padding-left:0;
		}

		.row{
			margin-left:0px;
			margin-right:0px;
		}
		
		#details{
			border:none;
			padding: 0px;
			padding: 0px;
			margin-top:0px;
	
		}
		
		#library-results-wrapper{
			padding:0px;
			margin-top:0px;
			
		}
		
		#library-results-column{
			background-color:white;
			padding:0px;
			border:none;
			margin-top:0px;
			margin-bottom:0px;

		}
		
		#library-tab, #results-tab{
			padding-top:10px;
			padding-bottom:10px;
			h1{
				margin-top:10px;
				font-size:30px;
				font-weight:normal;
			}
		}
		
		.video-tab{
			padding-bottom:10px;
		}
		.video-image{
			position:absolute;
			padding-right:10px;
			padding-left:10px;
			width:140px;
		}
		.video-title{
			padding-left:140px;
		
		}
		.video-author{
			padding-left:140px;
		}
		.video-views{
			padding-left:140px;
		}
		
		.video{
			padding:0px;
		}
		
		.glyphicon{
			font-size:26px;
			top:-45px;
			
		}
		
		.library-button{
			font-size:26px;
		}
		
		.form-group #query{
			font-size:1.2em;
		}
		
		#search{
			padding-left:0px;
			padding-right:0px;
			font-size:1.2em;
			
		}
		
		.detail-views{
			
		}
		
		#tv{
			padding-bottom:10px;
		}
		
		
		.button-controllers{
			margin-top:0px;
			border-bottom:solid 1px darken(@gray-lighter, 20%);
			
			p{
				padding-top:10px;
			}
			
			.resultRemoveButton, .addButton{
				padding-top:5px;
				padding-bottom:5px;
				
			}
			
		}
		
		.video-tab{
			padding-top:20px;
		}

	}