<div class="col-md-6" id='library-column'>
	<div id="tv">	
		<div id='videoDetails' >
			<div id="player" class='detail-image'></div>
	    <p class="detail-title"> {{ detail.title }}</p>
	    <p class="detail-author">{{ detail.author }}</p>
	    <p class="detail-description">{{ detail.description }}</p>
	    <p class="detail-views"><span>Views:</span>{{ detail.viewCount }}</p>
	    <p class="detail-likes"><span>Likes:</span>{{ detail.likeCount }}</p>
	    <p class="detail-uploaded"><span>Uploaded:</span>{{ detail.publishedAt }}</p>
		</div>
	</div>
</div>