<div id="tv">	
	<div id='videoDetails'>
		<div id="video-container">
			<div id="player" class='detail-image'></div>
		</div>
		<div id='caption'>
	    <p class="detail-title"> {{ detail.title }}</p>
	    <p class="detail-author">{{ detail.author }},</p>
	    <p class="detail-uploaded">Uploaded on <span>{{ detail.publishedAt }}</span></p>
	    <p class="detail-views">{{ detail.viewCount }}<span> views</span></p>
	    <p class="detail-likes">{{ detail.likeCount }}<span> likes</span></p>
	</div>
	</div>
</div>
