	<div class='video-tab row' data-ng-show="!libraryStock" ng-swipe-left="toggleLibrary('results')">
		<h3 class=library-landing>Your library is empty. Add some videos!</h3>		
	</div>
<div id='library' id="library-column" ng-swipe-left="toggleLibrary('results')">
	
	<div data-ng-repeat="video in library" class='video-tab row no-gutter' >
			
			<div class="col-md-12 col-xs-12 " data-ng-click="play(video, 'library')">
				<div class="video">
				  <img class="video-image" data-ng-src="{{ video.thumbnail }}">
			    <p class="video-title">{{ video.title }}</p>
			    <p class="video-author">{{ video.author }}</p>
			    <p class="video-views">{{ video.viewCount }} views</p>
				</div>
			</div>
			
			<div class="col-md-12 col-xs-12">
			  <span class="library-button glyphicon glyphicon glyphicon-remove-sign
			" aria-hidden="true" data-ng-click="remove(video)" data-ng-show="video.inLibrary"></span>
			</div>
			
			</div>
	</div>
</div>
