<div class="container-fluid">
	<div class="row no-gutter main"  >
		<div class="col-md-12 col-xs-12">
			<div ui-view="search"></div>
		</div>
		<div class="col-md-6 col-xs-12 detail-column">
			<div ui-view="details" id='details'></div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div id='library-results-column'>
				<div id='tabs'>
				<div class="row no-gutter">
					<div class="col-md-6 col-xs-6 library-tab" ng-click='toggleLibrary()'> 
						<h1>Library</h1>
					</div>
			
					<div class="col-md-6 col-xs-6 results-tab" ng-click='toggleResults()' ng-show="resultsInit">
						<h1>Results</h1>
					</div>

				</div>
			</div>
			<div ui-view="library" ng-show="showLibrary"></div>
	    <div ui-view="results" ng-show="!showLibrary"></div>							
		</div>
		
		</div>
	</div>
</div>