<html data-ng-app='mainApp' data-ng-cloak>
	<head>
		<title>Beats Blender</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<script src="/static/lib/angular/angular.min.js"></script>
		<script src="/static/lib/angular/angular-route.min.js"></script>
		<script src="/static/lib/angular/angular-ui.min.js"></script>
		<script src="/static/lib/angular/angular-cookies.min.js"></script>
		<script src="http://code.jquery.com/jquery-3.1.1.slim.js"   integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="   crossorigin="anonymous"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		

		<link rel="stylesheet" href="/static/less/styles.css">
	
	</head>

	<body data-ng-cloak>
		<div ui-view></div>
		
		<script src="/static/js/app.js"></script>
		<script src="/static/js/controller.js"></script>
		<script src="/static/js/factory.js"></script>
		<script type="text/javascript">
	
		</script>
	</body>		
</html>