<html data-ng-app='mainApp' data-ng-cloak>
<head>
	<title>App</title>
  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='less/styles.css') }}">
	
	
	
	
</head>
<body data-ng-controller="MainController" data-ng-cloak>
	<div id='search'>
		<form data-ng-submit="search()">
		<input type='text' id='query' data-ng-model='query'>				
	</form>
	</div>
				
		<div class="row">
		  <div class="col-md-8">
				<div id="sort" data-ng-show="resultsAvailable">
					<div id="sort-filters">
						<p>Sort</p>
						<a href='' data-ng-click="orderFunction('snippet.title', filterReverse)">Title</a>
						<a href='' data-ng-click="orderFunction('views', filterReverse)">Views</a>
						<a href='' data-ng-click="orderFunction('likes', filterReverse)">Likes</a>
						<a href='' data-ng-click="orderFunction('snippet.publishedAt', filterReverse)">Uploaded</a>
					</div>
				</div>
				<div id="results_bar" >	
			    <div id="results">
		        <div class="video" data-ng-repeat="video in results| orderBy:videoOrderBy:filterReverse " >
		          <img class="video-image" data-ng-src="{{ '{{ video.snippet.thumbnails.default.url }}' }}">
		          <p class="video-title">{{ '{{ video.snippet.title }}' }}</p>
		          <p class="video-author">{{ '{{ video.snippet.author }}' }}</p>
		          <p class="video-description">{{ '{{ video.snippet.description }}' }}</p>
		          <p class="video-views">Views: {{ '{{ video.views }}' }}, </p>
		          <p class="video-likes">Likes: {{ '{{ video.likes }}' }}, </p>
		          <p class="video-uploaded">Uploaded: {{ '{{ video.snippet.publishedAt }}' }}</p>
							<button href='#' class='addButton' data-ng-click="add(video.id, video.snippet.title)" data-ng-disabled="video.id.inLibrary" >Add</button>															
			      </div>
			    </div>
		    </div>
				
		</div>
	  <div class="col-md-4">
		  <div id='library' data-ng-show="resultsAvailable">
				<h2>Library</h2>
				<h4 data-ng-show="!libraryStock">Your library is empty. Add some videos!</h4>
		  	<div class='library-videos' data-ng-repeat="video in library">
					<p class='libraryVideo'>{{ '{{ video.title }}' }}</p>
					<button href='#' class='removeButton' data-ng-click="remove(video.id)"  >Remove</button>															
				</div>
		  </div>
		</div>


<script type="text/javascript">
	
	var app = angular.module('mainApp', []);

</script>
	<script src="{{ url_for('static', filename='js/controller.js')  }}"></script>
	<script src="{{ url_for('static', filename='js/factory.js')  }}"></script>
</body>
	
	
	
</html>